html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  background: #ea8800;
  margin: 0px;
}

a {
  color: inherit;
  text-decoration: inherit;
}
